# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# environment
.env
public/env.js

# misc
.DS_Store
.vscode
npm-debug.log
reference_art
.chrome
slnx.sqlite
.suo
VSWorkspaceState.json
yarn-error.log